<h1>Journal Entries</h1>
<a href='/journal/new' class='button'>New Entry</a>

<% journal.forEach(journal => { %>
    <div class="journal-container">
        <h2><%= journal.title %></h2>
        <h3><%= journal.date.toLocaleDateString() %></h3>
        <p><%= journal.text.substring(0,50) %> . . .
            <a href="journal/<%= journal._id %>">Read More</a>
        </p>
        <a href="/journal/edit/<%= journal._id %>" class="edit">&#9998;</a>
        <form action="/journal/<%= journal._id %>?_method=DELETE" method="POST">
            <button type="submit" class="remove">&#10006;</button>
            <input type="hidden" name="_method" value="DELETE">
        </form>
    </div>
<% }) %>