<div>
    <label for="title">Event</label>
    <input value="<%= calendar.title %>" type="text" name="title" id="title" required></input>
</div>
<div>
    <label for="day">Date</label>
    <input value="<%= calendar.date %>" type="date" name="day" id="day" required></input>
</div>
<div>
    <label for="start">Start Time</label>
    <input value="<%= calendar.start %>" type="time" name="start" id="start"></input>
</div>
<div>
    <label for="end">End Time</label>
    <input value="<%= calendar.end %>" type="time" name="end" id="end"></input>
</div>
<div>
    <label for="details">Details</label>
    <textarea name="details" id="details"><%= calendar.details %></textarea>
</div>

<a href="/calendar">Cancel</a>
<button type="submit">Save</button>