<h1>Calendar</h1>

<a href='/calendar/new'>New Entry</a>

<% calendar.forEach(calendar => { %>
    <div>
        <h2><%= calendar.title %></h2>
        <h3><%= calendar.day %></h3>
        <h4><%= calendar.time %></h4>
        <a href="calendar/<%= calendar._id %>">Read More</a>
        <a href="calendar/edit/<%= calendar._id %>">&#9998;</a>
        <form action="/calendar/<%= calendar._id %>?_method=DELETE" method="POST">
            <button type="submit">&#10006;</button>
            <input type="hidden" name="_method" value="DELETE">
        </form>
    </div>
<% }) %>