<h1><%= calendar.day %></h1>

<div><!-- Make for Calendar to view one day, will need to loop through, and show, any titles with the same date. -->
    <h2><%= calendar.title %></h2>
    <h3><%= calendar.time %></h3>
    <a href="/calendar/edit/<%= calendar._id %>">Edit</a>
    <p><%= calendar.description %></p>
</div>

<a href="/calendar">Monthly View</a>